google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
flask
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface
langchain-groq
unstructured
unstructured[pdf]
nltk
python-dotenv
streamlit 
google-generativeai
langchain-google-genai
pdfminer.six==20221105
pdf2image==1.16.3
pytesseract==0.3.10
Pillow==9.4.0
PyMuPDF
PyPDF2==3.0.1
openai==1.55.3
nltk
rouge-score 
sacrebleu 
transformers